#leftmargin {
	float: left;
	width: 20%;
	min-width: 270px;
}

#middle {
	display: inline-block;
	width: 56%;
	overflow: auto;
}

#rightmargin {
	float: right;
	width: 20%;
	min-width: 240px;
}

#gap {
	display: inline-block;
	width: 1%;
}

#formdisp {
	/*display: inline-block;*/
}

#header4 {
	font-family: Times New Roman;
	font-size: 20px;
	font-weight: bold;
	color:#000000;
}

#drpdwnlst_facname {
	width: 50%;
}

#drpdwnlst_lec {
	width:100%;
}

#txtarea {
	width:100%;
}

#txtbox {
	width:100%;
}

#submitbtn {
	width:10%;
}

#input_tbl {
	border: 0px solid black;
	width:100%;
}

#input {
	border: 0px solid black;
	/*border: 1px solid black;*/
	width: 50%;
	min-width: 365px;
	max-width: 365px;
}

div {
	border: 0px dashed blue;
}

#required {
	color: #FF0000;
}

#datenamediv {
	float: left;
	padding-left: 3px;
	padding-right: 3px;
	line-height: 18px;"
}

#reporttbl {
	width: 100%;
}

#reporttbltr {
	width: 100%;
}

#reporttblth {
	width: 10%;
}

#reporttbltd {
	width: 10%;
	text-align: left;
}

#reportdiv {
	width: 100%;
}

/* body {
	background-image:url("../Images/College.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
} */


/*
 *	Input Tag Style
 *
 */
form input, textarea, select {
	padding: 9px;  
	border: solid 1px #E5E5E5;  
	outline: 0;  
	font: normal 13px/100% Verdana, Tahoma, sans-serif;  
	width: 100%;  
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
}

form  input:hover, textarea:hover,  
form  input:focus, textarea:focus 
{
	border-color: #C9C9C9;   
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;  
}

form label {   
	margin-left: 10px;   
	color: #999999;   
}
submit input {  
	width: auto;  
	padding: 25px 15px;  
	background: #617798;  
	border: 0;  
	font-size: 14px;  
	color: #FFFFFF;  
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
}

input[type=radio], input[type=checkbox] {
	width: 20px;
}

input[type="button"], input[type="submit"] {
	width: 200px;
}